*{
    margin:0px;
    padding: 0px;
}

.cabecalho{
background-color: #FFF2CC;
color: black;
display:flex;
font-size: 24px;

}

.imagemcabecalho{
    width:321px;
    height: 157px;
}
